<h2>Welcome to Pizza Shop</h2>

<br>
<br>

<div class="container">
  <div class="row">  	
  	<%@products.each do |product|%>
    <div class="col-md-3">
    	<div>
    		<%=product.title%>    	
    	</div>
    	<div>
    		<img src="<%=product.path_to_image%>"/>   	
    	</div>
    	<div>
    		<%=product.description%>
    	</div>
    	<div>
    		Размер <%=product.size%> см
    	</div>
    	<div>
    		Цена <%=product.price%> руб.
    	</div>

    	<div>
    		<button class = "btn btn-success" onclick="add_to_cart(<%=product.id%>)">В корзину</button>
    	</div>
    	
    </div>
    <%end%> 
  </div>
</div>

<br>
<br>
<button class="btn btn-primary btn-lg" onclick="get_cart_orders()">Click me</button>

